@import "../../global.scss";
.aboutpage{
    // height: 100vh;
    // padding: 50px;
    // overflow: hidden;
    // box-sizing: border-box;
    // width: 100%;
    position: relative;
    top: 90px;
    .header{
        margin: 40px;
        display: flex;
        flex-direction: column;
        h6{
            text-align: center;
            text-transform: uppercase;
        }
        h2{
            text-transform: uppercase;
            text-align: center;
            font-size: 26px;
            span{
                color:red;
            }
        }
    }
    .wrapper{
        display: flex;
        padding: 70px;
        @include mobile{
            flex-direction: column;
        }
        .topleft{
            flex: 6;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .img{
                width: 90%;
                @include mobile{
                    width: 100%;
                }
                img{
                    height: 800px;
                    width: 100%;
                    object-fit: cover;
                    @include mobile{
                        height: 400px;
                    }
                }
            }
            .coverimg{
                position: absolute;
                width: 600px;
                height: 150px;
                bottom: 50px;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                @include mobile{
                    width: 200px;
                    height: 70px;
                }
                h2{
                    font-size: 26px;
                    font-weight: bold;
                    @include mobile{
                       font-size: 18px;
                    }
                    span{
                        color:red;
                    }
                }
            }
        }
        .topright{
            flex:6;
            display: flex;
            flex-direction: column;
            // height: 100%;
            // background-color: yellow;
            align-items: center;
            // justify-content: center;
            .txt{
                display: flex;
                flex-direction: column;
                width: 90%;
                padding: 10px 30px;
                @include mobile{
                    width: 130%;
                }
            }
            .img1{
                @include mobile{
                    width: 130%;
                }
                position: relative;
                .icon{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 70px;
                    color: red;
                }
                width: 640px;
                height: 240px;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .footer{
        width: 100%;
        height: 700px;
        background-color: #eeeeee;
        display: flex;
        padding: 80px;
        @include mobile{
            padding: 20px 0px;
            flex-direction: column;
            height: 1000px;
        }
        .footerleft{
            flex: 4;
            display: flex;
            justify-content: center;
            align-items: center;
                
            .covertxt{
                width: 80%;
                background-color: rgb(200, 25, 25);
                padding: 20px 40px;
                .txt{
                        margin-bottom: 20px;
                    h2{
                        color:white;
                    }
                    p{
                        color:white;
                    }
                  
                }
                .txt1{
                    margin-top: 40px;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    display: flex;

                    .learnmore{
                        width: 170px;
                        background-color: rgba(255, 247, 247, 0.432);
                        padding: 12px 8px;
                        border-radius: 50px;
                        color: white;
                        cursor: pointer;
                        transition: all .3s;
                       }
                    .learnmore:hover{
                        background-color: white;
                        color: red;
                    }
                }
            }
        }
        .footerright{
            flex: 8;
            // background-color: yellow;
            display: flex;
            padding: 50px;
            justify-content: space-around;
            @include mobile{
                padding: 10px 10px;
            //    margin-bottom: 50px;
                // background-color: red;
            }
            .branding{
                width: 30%;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                transition: all .3s ease;
               
                .brand{
                    padding: 12px 25px;
                    @include mobile{
                        padding: 0;
                    }
                    .icon{
                        margin-bottom: 20px;
                        font-size: 50px;
                        @include mobile{
                            font-size: 23px;
                        }
                    }
                    h4{
                        font-size: 23px;
                        margin-bottom: 20px;
                        @include mobile{
                            font-size: 12px;
                        }
                    }
                    p{
                        font-size: 18px;
                       @include mobile{
                        font-size: 12px;
                       }
                    }
                  
                    }
            }
            .branding:hover{
                transform: scale(1.1);
            }
        }
    }
}