@import "../../global.scss";
.footerpage{
    background-color: #1F1F24;
    height: 370px;
    color: white;
    width: 100%;
    display: flex;
    position: relative;
    top: 90px;
    justify-content: center;
    // align-items: center;
    @include mobile{
        height: auto;
        // flex-direction: column;
    }
    .wrapper{
        // background-color: green;
        width: 90%;
        @include mobile{
            width: 100%;
        }
        .boxfooter{
            width: 100%;
            display: flex;
            // background-color: red;
            @include mobile{
                flex-direction: column;
            }
            .box{
                margin: 50px;
                height: 100px;
                display: flex;
                width: 25%;
                align-items: center;
                position: relative;
                @include mobile{
                   margin: 10px 0 0 0;
                }
                .icon{
                    position: absolute;
                    top: 0;
                    color: white;
                }
                .txt{
                    position: absolute;
                    top: 10px;
                    margin-left: 50px;
                    @include mobile{
                        width: 250px;
                        // background-color: red;
                    }
                    .multiicon{
                        display: flex;
                        gap: 10px;
                        .icon1{
                            padding: 5px;
                            border: 1px solid white;
                            border-radius: 50%;
                            font-size: 35px;
                            // color: white;
                        }
                    }
                    h2{
                        font-size: 18px;
                        font-weight: bold;
                    }
                    p{
                        margin: 0;
                        padding: 0;
                        font-size: 18px;
                        opacity: .7;
                        
                    }
                    span{
                        opacity: .7;
                        font-size: 18px;
                    }
                }
            }
        }
        .copyright{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            p{
                font-size: 16px;
                padding: 0;
                margin: 0;
                opacity: .7;
                span{
                    font-weight: bold;
                }
            }
            
        }
    }
}